


:root {
  --primary-color: #0948ac;
  --secondary-color: #6c60d3;

  --text-color-light: #fff;
  --text-color-dark: #222;

  --text-size: clamp(1.6rem, 1.6vw, 1.8rem);

  --box-shadow1: 0 2px 4px rgba(0, 0, 0, 0.2);
  --box-shadow2: 0 4px 14px -1px rgba(0, 0, 0, 0.2);

  
  --btn-padding: clamp(0.8rem, 1vw, 2rem) clamp(1.2rem, 4vw, 3rem);
  --container-padding: clamp(1.5rem, 3vw, 2rem); 
  --normal-padding: 1rem;

  --bg-light2: #eee;
  --bg-light1: #fff;
}


/*=========================
       GENERAL STYLE
  =========================*/
  
*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Outfit, sans-serif;
  text-align: center;
  font-size: var(--text-size);
  line-height: 1.6;
  background-color: var(--bg-light2);
 
}
  

header, main, footer {
  max-width: 1400px;
  margin: 0 auto;
}


a:focus-visible, button:focus-visible {
  outline: 2px solid var(--secondary-color);
  outline-offset: 3px;
}


/*=========================
       HEADER STYLE
  =========================*/

  
  .header {
    min-height: 5rem;
    padding: var(--container-padding);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: var(--box-shadow1);
 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .header .logo {
    font-size: clamp(1.6rem, 2vw, 3rem);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }



  /*========================
      MAIN PAGE STYLE
    ========================*/

    
  .main-page-container {
  padding-top: 7rem;
}
  

section {
  scroll-margin-top: 6rem;
}


.hero .welcome {
  background-color: rgb(92, 203, 203);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding: var(--normal-padding);
  font-family: "Goldman", sans-serif;
  overflow: hidden;
}

.welcome h1 {
  animation: welcomeText 10s linear infinite;
  white-space: nowrap;
  
}

@keyframes welcomeText {
  0% {
    transform: translateX(70%);
    color: green;
  }

  50% {
    font-size: 3vw;
    color: yellow;
  }
 
  100% {
    transform: translateX(-90%);
    color: red;
    
  }
}



.hero {
  
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));



    border: 1px solid gray;
    border-radius: 6px;
  }

  .hero .hero-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: lightgray;
  }

  .hero img {
    border-radius: 50%;
  }

  .hero-text .highlight {
    color: var(--primary-color)
  }

  .about-description {
    padding: 2rem;
  }


  .content-wrapper h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    margin-left: clamp(-2rem, -4vw, -16rem);
    color: var(--secondary-color);
  }

  .content-wrapper h2::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 5rem;
    background-color: var(--primary-color);
    margin-right: 2rem;
    position: relative;
    top: 1.5rem
  }

  .content-wrapper section {
    margin-top: 3rem;
  }

  .skills-container, .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 4rem;
    
    padding: 3rem;
    
  }

  .skills h3 {
    margin-bottom: 2rem;
    color: #0e2b53;
  }

  .skills-category {
    padding: var(--container-padding);
    background-color: var(--bg-light1);
    border-radius: 1rem;
    box-shadow: var(--box-shadow2);
    transition: transform 0.3s linear;
  }

  .skills-category:hover {
    transform: translateY(-8px);
  }

 .skills-category .inline {
  font-size: 1.5rem;
  font-weight: normal;
  font-family:cursive, sans-serif;
 }

 .inline.frontend, .inline.tools {
  color: #bb0;
 }

 .inline.backend {
  color: #e00;
 }

.carousel {
  position: relative;
}

 .slider {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  
 }

 .slides {
  display: flex;
  flex-direction: row;
  width: 100%;
  transition: transform 0.3s ease;
 }

 .slides img {
  width: 100%;
  
 }

 .arrow {
  position: absolute;
  padding: var(--normal-padding);
  font-size: 3rem;
 }

 .arrow.left {
   top: 50%;
   transform: translateY(-40px);
   left: 5rem;
 }

 .arrow.right {
   top: 50%;
   right: 5rem;
   transform: translateY(-40px);
 }

 .project {
  background-color: var(--bg-light1);
  box-shadow: var(--box-shadow2);
 }



 .project-img {
  height: 18rem;
  font-size: 8rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
 }

 .project-description {
  padding: 2rem;
 }

 .project-description h3 {
  margin-bottom: 2rem;
 }

 .project-btn {
  padding: var(--btn-padding);
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  border-radius: 2rem;
  font-weight: bold;
  transition: background-color 0.2s linear;
 }

 .project-btn:hover {
  background-color: var(--text-color-light);
  outline: 2px solid var(--secondary-color);
  color: var(--text-color-dark);
 }

 .project-btn.to-be-done:hover {
color: red;
 }

  p {
    margin-bottom: 2rem;
  }

  aside {
    position: sticky;
    top: 7rem;
    right: 0;
    padding: var(--container-padding);
  }

  aside > ul {
    list-style: none;
    text-align: left;
    padding: var(--container-padding)
  }

  aside > ul li {
    padding: var(--padding2);
  }
  
  aside > ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: var(--normal-padding);
  }

  aside > ul li a:hover {
    color: var(--text-color-light);
    text-decoration: underline;
    color: var(--primary-color)
  }

  

  footer {
    background-color: #0e2b53;
    color: var(--text-color-light);
    padding: var(--container-padding);
    width: 100%;
  }
    

  /*========================
        MOBILE LAYOUT
    ========================*/

    
@media (max-width: 768px) {

  .header .navbar {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 100%;
    text-align: left;

    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;

    transition: 
    transform 0.4s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;

    z-index: 99;
  }

  

  /*MOBILE MENU BUTTON*/

  
  .hamburger-menu {
    background-color: inherit;
    border: none;
    display: flex;
    gap: 0.5rem;
    font-size: clamp(1.5rem, 2vw, 3rem);
    cursor: pointer;
    
  }

  .show-menu-text {
    transform: translateX(-4rem);
    opacity: 0;
  }

  .menu-text {
    color: var(--secondary-color);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
  }

  .bars {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: inherit;
    cursor: pointer;
    
  }

  .bars span {
     display: block;
     width: 2rem;
     height: 0.24rem;
     background-color: black;
     border-radius: 0.6rem;
     font-size: 1rem;
  }

  .bar {
    transition: transform 0.3s ease, opacity 0.1s ease;
  }

  .close  span:nth-of-type(1) {
     transform: rotate(45deg);
  }

  .close  span:nth-of-type(2) {
     opacity: 0;
  }

  .close  span:nth-of-type(3) {
     transform: rotate(-45deg);
     position: absolute;
  }

  .navbar ul {
    list-style: none;
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--text-color-light);
    box-shadow: var(--box-shadow1);

  }

  .navbar ul > li a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color-dark);
    width: 100%;
    padding: var(--normal-padding);
  }

  .navbar ul > li a:hover {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
  }

  .navbar.show-menu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .welcome {
    height: clamp(6rem, 5vw, 12rem);
  }
.welcome h1 {
  animation: welcomeText 9s linear infinite;
  white-space: nowrap;
  
}


}

@media (max-width: 400px) {
  .logo span {
    font-size: 1.8rem;
  }
  .menu-text {
    display: none;
}

body {
  display: grid;
 /* Prevent layout constraint on very small viewports */
}

}




 /*========================
        DESKTOP LAYOUT
    ========================*/
    
@media (min-width: 768px) {

  .header {
    height: 6rem;
  }
  .hamburger-menu {
    display: none;
  }

  .navbar ul {
    list-style: none;
    display: flex;
  }


  .navbar ul > li a {
    text-decoration: none;
    padding: 2rem 14px;
    color: var(--secondary-color);
    background: linear-gradient(
      var(--primary-color),
      var(--secondary-color)
      );
    
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease, color 0.4s ease;
  }

  .navbar ul > li a:hover {
    color: var(--text-color-light);
    background-size: 100% 100%;
  }

  .main-page-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

}


