
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: 0 2px 2px hsl(120, 80%, 50%);
  font-size: clamp(26px, 3vw, 60px);
  width: auto;
  color: hsla(0, 10%, 100%, 1);
  padding-inline-start: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: hsla(0, 10%, 95%, 1);
  color: hsla(230, 100%, 0%, 1);
  text-align: center;
  line-height: 1.6;
  max-width: 1400px;
  margin-inline: auto;
}

/*Header styles*/
header {
  background-color: #39a2ae;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.tb {
  border: 1px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0 6px;
  background: #000;;

}

nav {
  width: auto;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 4px 8px;
  gap: 30px;
  padding-inline-end: 15px;
}

ul > li > a {
  text-decoration: none;
  color: #fff;
}

/*End of header styles*/


/*Start of main content styles*/
main {
  padding: 15px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;

}



section {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  scroll-margin-top: 80px;

}

.intro {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.intro-text {
  margin-left: 20px;
}

img {
  border-radius: 50%;
  width: clamp(100px, 25vw, 250px);
  height: auto;
}

.inline {
  font-size: 1rem;
  font-weight: 100;
}

li {
  list-style: none;
}

p {
  line-height: 1.4rem;
}

.aside {
  max-width: 200px;
  margin-left: 10px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aside li {
  text-align: left;
}

.aside li > a {
  color: #39a2ae;
}

/*End of main content styles*/

/*footer styles*/
footer {
  background-color: #39a2ae;
  padding: 15px;
  color: #fff;
}
/*End of footer styles*/

