:root {
  --primary-color: #0948ac;
  --secondary-color: #3d5ff7;

  --text-color-light: #fff;
  --text-color-dark: #222;

  --box-shadow1: 0 2px 4px rgba(0, 0, 0, 0.2);

  --padding1: 4px 10px;
  --padding2: 10px 14px; 
}


/*=========================
       GENERAL STYLE
  =========================*/
*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Outfit, sans-serif;
  font-size: 1.6rem;
  text-align: center;
}


/*=========================
       HEADER STYLE
  =========================*/

  .hero {
    height: 5rem;
    padding: var(--padding2);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: var(--box-shadow1);
 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .hero h1 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero img {
    border-radius: 50%;
    margin-right: 1rem;
  }


  

  /*========================
        MOBILE LAYOUT
    ========================*/
@media (max-width: 768px) {

  .hero .navbar {
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    text-align: left;

    transform: translateX(60rem);
    opacity: 0;
    visibility: hidden;

    transition: 
    transform 0.5s ease,
    opacity 0.4s ease,
    visibility 0.3s ease;

    z-index: 99;
  }

  /*MOBILE MENU BUTTON*/
  .hamburger-menu {
    background-color: inherit;
    border: none;
    display: flex;
    gap: 0.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    
  }

  .show-menu-text {
    transform: translateX(-4rem);
    opacity: 0;
  }

  .menu-text {
    color: var(--secondary-color);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
  }

  .bars {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: inherit;
    cursor: pointer;
    
  }

  .bars span {
     display: block;
     width: 2.5rem;
     height: 0.3rem;
     background-color: black;
     border-radius: 0.6rem;
  }

  .bar {
    transition: transform 0.3s ease, opacity 0.1s ease;
  }

  .close  span:nth-of-type(1) {
     transform: rotate(45deg);
  }

  .close  span:nth-of-type(2) {
     opacity: 0;
  }

  .close  span:nth-of-type(3) {
     transform: rotate(-45deg);
     position: absolute;
  }

  .navbar ul {
    list-style: none;
    padding: var(--padding1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--text-color-light);
    box-shadow: var(--box-shadow1);

  }

  .navbar ul > li a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color-dark);
    width: 100%;
    padding: var(--padding2);
  }

  .navbar ul > li a:hover {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
  }

  .navbar.show-menu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }


}


 /*========================
        DESKTOP LAYOUT
    ========================*/
@media (min-width: 768px) {

  .hero {
    height: 6rem;
  }
  .hamburger-menu {
    display: none;
  }

  .navbar ul {
    list-style: none;
    display: flex;
  }


  .navbar ul > li a {
    text-decoration: none;
    padding: 2rem 14px;
    color: var(--secondary-color);
    background: linear-gradient(
      var(--primary-color),
      var(--secondary-color)
      );
    
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease, color 0.4s ease;
  }

  .navbar ul > li a:hover {
    color: var(--text-color-light);
    background-size: 100% 100%;
  }

}
